<strong>Olá, {{ student }}</strong>
<p>Sua inscrição foi realizada com sucesso.</p>
<p>
  <strong>Aluno: </strong> {{ student }} <br />
  <strong>Plano: </strong> {{ plan }} <br />
  <strong>Data de início: </strong> {{ start_date }} <br />
  <strong>Data de término: </strong> {{ end_date }} <br />
  <strong>Preço: </strong> {{ price }} <br />
</p>
